<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors List</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</td>
                <td>
                    <a href="/author/{{ author.id }}">
                        <button>Update</button>
                    </a>
                        <!--beter to use htmx -->                    
                        <form action="/author/delete/{{ author.id }}" method="post" style="display: inline;">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/author_form"><button>Add new author</button></a>
</body>
</html>
